:root {
    --font-mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
}

body, nav{
    background-color: #ffebcd;
}

nav,
.name-tag,
.name-desc {
    font-family: var(--font-mono);
}

.name-tag{
    font-size: 1.4rem;
    font-weight: 600;
}

.navbar-brand,
.nav-link.active{
    color: #004953 !important;
}

.nav-link.active{
    padding-bottom: 2px;
    border-bottom: 1px solid #004953;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.circle-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}