:root {
    --font-mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
    --bg-color: #ffebcd;
    --midnight-green: #004953;
    --midnight-green-op: #0049537a;
}

a{
    text-decoration: none;
}

body, nav{
    background-color: var(--bg-color);
}

nav,
.name-tag,
.name-desc {
    font-family: var(--font-mono);
}

.name-tag{
    font-size: 1.7rem;
    font-weight: 700;
}

.navbar-brand,
.nav-link.active{
    color: #004953 !important;
}

.navbar-brand,
.nav-link{
    font-size: 0.95rem;
}

.nav-link.active{
    padding-bottom: 2px;
    border-bottom: 1px solid var(--midnight-green);
}

.navbar-toggler:focus{
    box-shadow: none;
}

.circle-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.social-logo,
.skills-logo {
    color: var(--midnight-green);
}

.skills-logo{
    overflow: visible;
    width: 40px !important;
}

.custom-link{
    color: var(--midnight-green);
    padding-bottom: 0px;
    border-bottom: 1px solid var(--midnight-green-op);
}

.custom-link:hover{
    padding-bottom: 0px;
    border-bottom: 1px solid var(--midnight-green);
}


.section-title{
    font-size: 1.6rem;
    font-weight: 600;
}

.section-subtitle{
    font-size: 1rem;
    letter-spacing: 0px;
    font-weight: 500;
}

.proj-name{
    font-size: 0.95rem;
    font-family: var(--font-mono);
    letter-spacing: 0px;
}

.proj-details{
    font-size: 0.85rem;
    font-family: var(--font-mono);
    color: #5f5f5f;
}

.dashed-list {
    list-style-type: none; /* Remove default bullets */
    padding-left: 0;       /* Optional: Align dashes with the text */
}
.dashed-list .dashed-el {
    position: relative; /* Enables absolute positioning of the dash */
    padding-left: 20px; /* Adjust space for the dash */
}
.dashed-list .dashed-el::before {
    content: "-";         /* Dash as the marker */
    position: absolute;   /* Position it relative to the list item */
    left: 0;              /* Align it with the left edge of the list item */
}

/* .section-container{
    border-radius: 4px;
    border: #004953;
    border-width: 1px;
    border-style: solid;
} */

.collapsing {
    transition: height .4s ease !important;
}

.more-info-link{
    font-size: 0.9rem;
    font-family: var(--font-mono);
    color: #484848;
    width: fit-content;
    color: var(--midnight-green);
    padding-bottom: 0px;
    border-bottom: 1px solid var(--midnight-green-op);
}

.container-section{
    margin-top: 3.0rem;
}

.proj-name{
    margin-top: 0.6rem;
}

#about-section,
.container-section{
    scroll-margin-top: 56px; /* Match this value to the height of your navbar */
}
